<!-- persons_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Persons List</title>
</head>
<body>
    <h1>Persons List</h1>

    <!-- Display the list of persons -->
    <ul>
        {% for person in persons %}
            <li>{{ person.name }}</li>
        {% endfor %}
    </ul>

    <!-- Display the list of animals -->
    <ul>
        {% for animal in animals %}
            <li>{{ animal.name }}</li>
        {% endfor %}
    </ul>

    <!-- Form for user input -->
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Check">
    </form>
</body>
</html>